@charset "utf-8";
/* CSS Document */
.main_common{width:1000px; margin:10px auto;}
.main_border{width:958px; padding:15px 20px; color:#666;}
.main_border > h1{font-size:20px; text-align:center; height:40px; line-height:40px; margin-bottom:30px;}
.main_border .section_part{margin-bottom:10px;}
.main_border .section_part p a{text-decoration:underline;}
.main_border .con_indent p{text-indent:20px;}
.main_border .con_indent p.indent_more{text-indent:40px;}
.main_border .con_indent p.indent_more2{text-indent:60px;}
