@charset "utf-8";
/* CSS Document */
.main_border .part2 .con .option > ul > li{width:10px; height:28px; line-height:28px; float:left; margin-right:15px;}
.main_border .part2 .con .option > ul > li:nth-child(even){width:30px;}
.main_border .part2 .con .inputPanel dl{margin-bottom:12px;}
.main_border .part2 .con .inputPanel dl dt{width:115px; margin-right:13px; text-align:right;}
.main_border .part2 .con .inputPanel dl > *{height:30px; line-height:30px;}
.main_border .part2 .con .inputPanel dl .EN_name{width:600px;}
.main_border .part2 .con .inputPanel dl .EN_address{width:655px;}
.main_border .part2 .con .inputPanel dl .hotel_tel{width:350px;}

.main_border .part3 .con .panel{padding:20px; border:1px solid #e6e6e6;}
.main_border .part3 .con .panel ul li{float:left; height:24px; line-height:24px; margin:0 25px 3px 0;}
.main_border .part3 .con .panel ul li > *{display:inline-block; vertical-align:middle;}
.main_border .part3 .con .panel ul li input{margin-right:5px;}
.main_border .part3 .con table.tourist_info td > *{display:inline-block; vertical-align:middle;}
.main_border .part3 .con table.tourist_info td input[type=text]{margin:0 10px; width:240px;}
.main_border .part3 .con table.tourist_info td textarea{width:470px; margin:0 10px; max-width:470px; min-width:470px; height:90px; min-height:90px; max-height:90px;}

.main_border .part3 .con .other_panel{border-top:1px solid #e6e6e6; padding:15px 0 0;}
.main_border .part3 .con .other_panel *{display:inline-block; vertical-align:middle; color:#999; font-size:12px;}
.main_border .part3 .con .other_panel > *{margin-right:30px;}

.layer .layer_panel[layerID=confirm_panel] .con{padding:15px;}
.layer .layer_panel[layerID=confirm_panel] .con .info{height:30px; line-height:30px; text-align:center;}