@charset "utf-8";
/* CSS Document */
.main_border .part3 .con .panel{padding:20px; border:1px solid #e6e6e6;}
.main_border .part3 .con .panel ul li{float:left; height:24px; line-height:24px; margin:0 25px 3px 0;}
.main_border .part3 .con .panel ul li > *{display:inline-block; vertical-align:middle;}
.main_border .part3 .con .panel ul li input{margin-right:5px;}
.main_border .part3 .con table.tourist_info td > *{display:inline-block; vertical-align:middle;}
.main_border .part3 .con table.tourist_info td a{text-decoration:underline;}
.main_border .part3 .con table.tourist_info td input[type=text]{margin:0 10px; width:240px;}
.main_border .part3 .con table.tourist_info td textarea{width:470px; margin:0 10px; max-width:470px; min-width:470px; height:90px; min-height:90px; max-height:90px;}
.main_border .part3 .con > i{padding:0 0 0 50px; font-size:12px;}
.main_border .part3 .con h1{font-size:24px; position:relative; margin:0; padding:0 0 0 50px; height:30px;}
.main_border .part3 .con h1.icon_ok{color:#118547;}
.main_border .part3 .con h1.icon_no{color:#ff503f;}
.main_border .part3 .con h1 i{width:26px; height:26px; position:absolute; left:0; top:-2px;}
.main_border .part3 .con h1.icon_ok i{background-position:0 0;}
.main_border .part3 .con h1.icon_no i{background-position:0 -36px;}
