@charset "utf-8";
/* CSS Document */
.filter dl dd .option{margin:0 10px 10px 0;}
.filter dl dd .option > ul > li{height:28px; line-height:28px; float:left; margin-right:15px;}
.filter dl dd .option > ul > li > a{margin:0 10px 10px 0; width:68px; text-align:center; height:26px; line-height:26px; border-radius:2px; border:1px solid #e6e6e6; float:left;}
.table_box .table_box_head .tips{text-decoration:underline;}